# Banco de Dados (PostgreSQL + pgvector)
POSTGRES_DB=ai_npc_db
POSTGRES_USER=ai_npc_user
POSTGRES_PASSWORD=ai_npc_password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# API
API_PORT=8000
API_CONTAINER_NAME=npc_api

# Telegram Bot
TELEGRAM_BOT_TOKEN=seu_token_aqui
TELEGRAM_WEBHOOK_URL=

# LLM Gateway
LLM_API_KEY=sua_chave_aqui
LLM_API_URL=https://llm.ic.unicamp.br/api/chat/completions
LLM_MODEL=gemma4:e4b